/********************
YOUR STYLES
*******************/

/* Layout */
* { box-sizing: border-box; }

section {
  /* Fallback: Floated in No JS */
  float: left;
  padding: 1em;
}

/* clearfix */
section:after {
  content: '';
  display: block;
  clear: both;
}

article {
    margin: 0 auto;
    padding: 10px;
}

h1 {
/*    font-family: 'Gloria Hallelujah', cursive;*/
    font-size: 6em;
    text-align: center;
    text-transform: uppercase;
}


/* Masonry Styling - your style*/
section {
  background: rgba(183, 182, 182, 0.75);
  border: 1px solid black;
  /* vertical space between */
  margin-bottom: 10px;
/* content default wide */
  width: 200px;
}

/*set your own height*/
.tall {
  height: 600px;
}

.med {
  height: 400px;
}

.short {
  height: 200px;
}

/********************
MEDIA QUERIES
*******************/



/* Mobile */

@media (min-width: 480px) {
    h1{
        font-size: 3em;
    }
}



/* Tablet */

@media (min-width: 768px) {
    
    section {
    /* content default wide */
      width: 600px;
    }
}



/* Desktop */

@media (min-width: 1024px) {
}